:root {
    --color1: rgb(196, 143, 45); 
    --color2: rgb(83, 126, 83);
    --color3: rgb(231, 231, 65);

}

body {
    background-image: url(./images/oriental-tiles.png);
}

h1 {
    text-align: center;
    color: white;
    font-size: 30px;  
}



header {
    border: 10px;
    color: rgb(191, 228, 27);
    text-align: center;
    border-radius: 3%;
    box-shadow: inset 0px 0px 5px rgb(2, 236, 214), 
    0 0 15px rgb(11, 186, 230);  
}


a {
    color:rgb(239, 243, 17);
}


nav ul {
    display:flex;
    justify-content: flex-end;
    list-style: none;    
}

li {
    margin:1%;
}
 
.background {
    display: flex;
    padding:20em;
    background-image: url(./images/JJ11.jpg); 
    background-size: cover;
}

.flex {
    display: flex;
}

#aside1 {
    flex: 35%;
    background-color: var(--color3);
    padding:15px;
    flex-wrap: wrap;
    text-align: center;
    margin:5px;
    border-radius: 10px;
    transition: all o.5s ease-in-out;
}

#aside1:hover {
    box-shadow: inset 0px 0px 5px rgb(235, 212, 13),
    0 0 20px rgb(182, 230, 11);
}

#aside2 {
    flex: 35%;
    padding:15px;
    height:400px;
    flex-wrap: wrap;
    background-size:cover;
    margin:5px;
    background-image: url(./images/Niice-Guy.jpg);
    min-width: 400px;
}


#workhistory {
    flex: 100%;
    background-color: turquoise;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    transition: all o.5s ease-in-out;
}

#workhistory:hover {
    box-shadow: inset 0px 0px 5px rgb(235, 212, 13),
    0 0 20px rgb(182, 230, 11);
}

#workhistory div {
    display: inline-flex;
    flex-direction: column;
    margin: 0px 40px 0px 40px;
}


#skills {
    flex: 100%;
    background-color: turquoise;
    padding: 15px;
    margin: 5px;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
#skills:hover {
    box-shadow: inset 0px 0px 5px rgb(235, 212, 13),
    0 0 20px rgb(182, 230, 11);
}

#skills div {
    display: inline-flex;
    flex-direction: column;
    margin:0px 40px 0px 40px;
    

}


#projects {
    flex: 100%;
    background-color: turquoise;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    transition: all o.5s ease-in-out;
}
#projects:hover {
    box-shadow: inset 0px 0px 5px rgb(235, 212, 13),
    0 0 20px rgb(182, 230, 11);
}



 #contact {
    flex:100%;
    background-color: turquoise;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    transition: all o.5s ease-in-out;
 }

 #contact:hover {
    box-shadow: inset 0px 0px 5px rgb(235, 212, 13),
    0 0 20px rgb(182, 230, 11);
}

#contact div {
    display: inline-flex;
    margin:10px;
}
 
@media screen and (max-width:663px) {
    .flex {
        display:flex;
        flex-direction: column;
    }

    .background{
        background-image: url(./images/oriental-tiles.png);
        padding:0px;
    }
}

@media screen and (max-width:400px) {
    #id1 {
        display:none;
    }
}


 @media screen and (max-width:400px) {
     #aside2 {
        background-image: url(./images/oriental-tiles.png);
        padding:0px;
     }
 }
